@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.image-gallery-slide .image-gallery-image {
  width: 100%;
  object-fit: cover;
}
.developmentDetails_Carousel {
  position: relative;
}

.caption {
    position: absolute;
    top: 516px !important;
    left: 630px;
    background-color: #83EAF1;
    font-size: 60px;
    color: black;
    padding: 10px;
}
body {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

p {
  margin-bottom: 1rem;
}

.image-gallery-left-nav .image-gallery-svg,
.image-gallery-right-nav .image-gallery-svg {
  height: 65px;
  width: 60px;
}


.card {
  width: 200px;
  height: 300px;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 5px;
  /* padding: 40px; */
}
.gamedev{
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 30px; */
  flex-wrap: wrap;
  margin-left: 0px !important;
}
.innerClass{
  padding: 35px;
}
.right{
   min-height: 100%;
  background-color: #83EAF1;
}
.form-error{
  color: red;
}


@media only screen and (max-width: 600px) {
  .grid{
    background-color: white;
  }
  .mobLogo{
    display: flex;
    flex-direction: row;
    justify-content: flex-end !important;
  }
  .headerMenu{
    color: black !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  .mobMenu{
    display: grid;
    text-align: right;
  }
  .headerMenuGet{
    color: black !important;
    /* margin-top: 19px; */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    /* text-align: right; */
    /* border: 1px solid black; */
  }
}